<div id="orders" class="tab-content">
    <div class="section-title">
        <h2>My Orders History</h2>
    </div>
    <div class="list-container">
        <!-- Order Items -->
         {% if data['recent_orders'] %}
         {% for item in data['recent_orders'] %}
        <div class="list-item">
            <div class="item-info">
                <img src="{{url_for('static', filename='images/home/dish_1.png')}}" alt="Dish" class="item-img">
                <div class="item-details">
                    <h4>{{item.name}}</h4>
                    <span>{{item.created_at}} • {{item.total_amount}}</span>
                </div>
            </div>
                <div>
                    <!--Order Status-->
                    <span class="status-badge status-cooking">{{item.status}}</span>

                    <!--Action-->
                    <button class="btn-outline" style="padding: 1px; border-radius: 50%;"><i style="scale: 0.8;" data-feather="map-pin"></i></button>
                </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="list-item">
            <div class="item-info">
                <div class="item-details">
                    <h4>You have no past orders to show</h4>
                    <span>Make an order today to get started • <a href="{{url_for('routes.menu')}}" target="_blank">Order Now</a></span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>