<div id="reservations" class="tab-content">
    <div class="section-title">
        <h2>My Reservations</h2>
        <!-- <button class="btn btn-primary">Book Table</button> -->
    </div>
    <div class="list-container">
        <div class="list-item">
            <div class="item-info">
                <div class="stat-icon"><i data-feather="calendar"></i></div>
                    <div class="item-details">
                    <h4>You have no reservations to show</h4>
                    <span>Contact us to make a reservation • <a href="{{url_for('routes.services')}}" target="_blank">Reach Us</a></span>
                </div>
            </div>
            <!-- <span class="status-badge status-confirmed">Confirmed</span> -->
        </div>
        <!-- <div class="list-item">
            <div class="item-info">
                <div class="stat-icon" style="background:#eee; color:#999;"><i data-feather="calendar"></i></div>
                    <div class="item-details">
                    <h4>Family Brunch</h4>
                    <span>Dec 10, 2025 • Window Seat</span>
                </div>
            </div>
            <span class="status-badge" style="background:#eee; color:#666;">Completed</span>
        </div> -->
    </div>
</div>