<!--Template Reference-->
{% extends 'template.html' %}

<!--Document Title-->
{% block title%}
Breakfast Bar
{% endblock %}

<!--Independent CSS-->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

<!--Page Body-->
{% block body %}
<!--Hero-->
{% include '/home/assets/hero.html' %}

<!--Popular Dishes-->
{% include '/home/assets/popular-dishes.html' %}

<!--How it works-->
{% include '/home/assets/how-it-works.html' %}

<!--Tips-->
{% include '/home/assets/tips.html' %}

<!--Reviews -->
{% include '/home/assets/reviews.html' %}
{% endblock %}

<!--Independent JS-->
{% block js %}
{% endblock %}
