<!--Template Reference-->
{% extends 'template.html' %}

<!--Document Title-->
{% block title%}
Breakfast Bar
{% endblock %}

<!--Independent CSS-->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home/topfold.css')}}">
{% endblock %}

<!--Page Body-->
{% block body %}

<!--Above the Fold-->
{% include '/home/assets/topfold.html'   %}
<!--Preview-->
<!--How it works-->
<!--Advert-->
<!--Testimonials-->
<!--Footer-->
{% endblock %}

<!--Footer-->
{% block footer %}
{% endblock %}

<!--Independent JS-->
{% block js %}
{% endblock %}
