<!-- How it Works -->
<section class="container section how-it-works">
        <div class="section-header center">
        <h2>How does it <span class="text-underline">Work</span></h2>
    </div>

    <div class="steps-grid">
        <div class="step-card">
            <div class="step-icon">
                <img src="{{url_for('static', filename='images/home/icon_1.png')}}" alt="Choose Meals">
            </div>
            <h3>Choose your Meals</h3>
            <p>We will deliver your food within 30 minutes in your town, if we would.</p>
            <a href="#" class="step-link">Read More <i data-feather="arrow-right"></i></a>
        </div>

            <div class="step-card">
            <div class="step-icon">
                <img src="{{url_for('static', filename='images/home/icon_2.png')}}" alt="Track Your Order">
            </div>
            <h3>Track Your Order</h3>
            <p>We will deliver your food within 30 minutes in your town, if we would.</p>
            <a href="#" class="step-link">Read More <i data-feather="arrow-right"></i></a>
        </div>

            <div class="step-card">
            <div class="step-icon">
                <img src="{{url_for('static', filename='images/home/icon_3.png')}}" alt="Collect Your Order">
            </div>
            <h3>Collect Your Order</h3>
            <p>We will deliver your food within 30 minutes in your town, if we would.</p>
            <a href="#" class="step-link">Read More <i data-feather="arrow-right"></i></a>
        </div>
    </div>
</section>