<section class="division">
    <div class="section-header">
        <h3>Our Popular Dishes</h3>
    </div>
    <div class="preview-panel">
        <div class="preview-card">
            <div class="data">
                <span><i class="ri-star-fill"></i></span>
                <br>
                <span>
                    4.3k
                </span>
            </div>
            <div class="slant-card">
                <div class="details">
                    <h3>Salad Cup</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione deleniti nostrum omnis illo eius magnam dolores </p>
                </div>
                <div class="actions">
                    <p>KES 350.00</p>
                    <button><i class="ri-shopping-basket-2-line"></i></button>
                </div>
            </div>
            <img src="{{url_for('static', filename='images/home/preview-1.png')}}">
        </div>

        <div class="preview-card">
            <div class="data">
                <span><i class="ri-star-fill"></i></span>
                <br>
                <span>
                    4.3k
                </span>
            </div>
            <div class="slant-card">
                <div class="details">
                    <h3>Waffles</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione deleniti nostrum omnis illo eius magnam dolores voluptatem et</p>
                </div>
                <div class="actions">
                    <p>KES 499.00</p>
                    <button><i class="ri-shopping-basket-2-line"></i></button>
                </div>
            </div>
            <img src="{{url_for('static', filename='images/home/preview-2.png')}}">
        </div>

        <div class="preview-card">
            <div class="data">
                <span><i class="ri-star-fill"></i></span>
                <br>
                <span>
                    4.3k
                </span>
            </div>
            <div class="slant-card">
                <div class="details">
                    <h3>Full Breakfast Combo</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione deleniti nostrum omnis illo eius magnam dolores voluptatem et</p>
                </div>
                <div class="actions">
                    <p>KES 1,399.00</p>
                    <button><i class="ri-shopping-basket-2-line"></i></button>
                </div>
            </div>
            <img src="{{url_for('static', filename='images/home/preview-3.png')}}">
        </div>
    </div>
    <div class="preview-actions">
        <button>See all dishes <i class="ri-restaurant-2-line"></i></button>
    </div>
</section>