<!-- Customer Reaction -->
<section class="container section reaction-section">
    <div class="section-header center">
        <h2>Customers <span class="text-underline">Reaction</span></h2>
    </div>

    <div class="reaction-content">
        <div class="reaction-image-wrapper">
            <div class="bg-shape-red"></div>
            <img src="{{url_for('static', filename='images/home/customer.png')}}" alt="Happy Customer" class="reaction-img">
        </div>

        <div class="reaction-card">
            <div class="reaction-feedback">
                <span class="badge-success">Verified Purchase</span>
                <span class="date">12/05/2023</span>
                <p class="quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
            </div>
            <div class="reaction-author">
                <img src="{{url_for('static', filename='images/home/customer.png')}}" class="author-avatar-small" alt="User">
                    <div class="author-info">
                        <span class="name">Md. Affin Foisal</span>
                        <span class="role">UI Designer</span>
                        <div class="stars">★★★★★</div>
                    </div>
            </div>
            <div class="slider-arrows">
                <button class="arrow-btn"><i data-feather="arrow-left"></i></button>
                <button class="arrow-btn active"><i data-feather="arrow-right"></i></button>
            </div>
        </div>
    </div>
</section>