<section class="division">
    <div class="fold-card">
        <div class="fold-card-image">
            <img src="{{url_for('static', filename='images/home/fold-card-image.png')}}">
        </div>
        <div class="fold-card-text">
            <p>Your one-stop breakfast shop</p>
        </div>
    </div>
    <div class="folds">
        <div class="left-fold">
            <div class="left-fold-headings">
                <h1>Experience our natural, delicious <span>meal-to-order</span> breakfast dishes</h1>
                <p>Your morning routine just got upgraded. We deliver your order to your location of convenience</p>
            </div>
            <div class="left-fold-actions">
                <button >Order now</button>
                <button >Join us</button>
            </div>
            <div class="left-fold-highlights">
                <div class="left-fold-card">
                    <div class="slant-card">
                        <p>Dumplings</p>
                    </div>
                    <img src="{{url_for('static', filename='images/home/topfold-1.png')}}">
                </div>
                <div class="left-fold-card">
                    <div class="slant-card">
                        <p>Pancakes</p>
                    </div>
                    <img src="{{url_for('static', filename='images/home/topfold-2.png')}}">
                </div>
                <div class="left-fold-card">
                    <div class="slant-card">
                        <p>Cookies</p>
                    </div>
                    <img src="{{url_for('static', filename='images/home/topfold-3.png')}}">
                </div>
            </div>
        </div>
        <div class="right-fold">
            <div class="right-fold-card">
                <div class="slant-card"></div>
                <img src="{{url_for('static', filename='images/home/topfold-4.png')}}">
                <div class="discount-card">
                    <h3>10%</h3>
                    <p>Discount on orders worth KES 1500 or more</p>
                </div>
            </div>
        </div>
    </div>
</section>