<!-- Menu Grid -->
<section class="container section menu-list">
    <div class="dishes-grid">
        {% if menu %}
        {% for item in menu['items']%}
        <div class="dish-card">
            <div class="dish-image">
                <img src="{{url_for('static', filename='images/home/dish_2.png')}}" alt="Kala Bhuna">
                <button class="wishlist-btn"><i data-feather="heart"></i></button>
            </div>
            <div class="dish-info" onclick="window.location.href=`{{url_for('routes.food', item_id='2')}}`">
                <div class="dish-rating"><i data-feather="star" class="fill-star"></i> {{item.rating}}</div>
                <h3>{{item.name}}</h3>
                <p class="dish-desc">{{item.description}}</p>
                <div class="dish-footer">
                    <span class="price">{{item.price}}</span>
                    <button class="add-btn">Add to cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="see-more-container">
            <button class="btn btn-outline">Load More</button>
        </div>
        {% else %}
        <div class="dish-card">
            <div class="dish-info">
                <h3>No menu items to show yet</h3>
                <p class="dish-desc">The staff is working hard to ensure you have something to munch on soon</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>