.preview-panel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.preview-card {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.preview-card .slant-card {
    background-color: wheat;
    position: relative;
    padding: 10px;
}

.preview-card img {
    position: absolute;
    width: 50%;
    height: 50%;
    top: -20%;
    left: 25%;
}

.preview-card .data {
    position: absolute;
    color: black;
    z-index: 1;
    top: 10%;
    padding: 10px;
}

.preview-card .details {
    text-align: center;
    margin-top: 30%;
    height: 155px;
    overflow-x: auto;
    margin-bottom: 10px;
}

.preview-card .details::-webkit-scrollbar {
    color: white;
    width: 1px;
}

.preview-card .details h3,
.preview-card .actions p {
    font-weight: 600;
}

.preview-card .actions p {
    margin-block: auto;
}

.preview-card .actions {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.preview-card .actions button {
    background-color: black;
    color: white;
    font-weight: 600;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.preview-card:hover .data {
    color: orange;
}

.preview-card:hover .slant-card {
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
    background-color: orange;
    color: white;
}

.preview-card .actions:hover button {
    background-color: white;
    color: black;
}

.preview-actions {
    padding: 20px;
    text-align: center;
}

.preview-actions button {
    width: fit-content;
    background-color: orange;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
}