.fold-card {
    width: 350px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    background-image: linear-gradient(to right, orange, white);
}

.fold-card-image {
    width: 30%;
    object-fit: cover;
    justify-content: center;
    position: relative;
}

.fold-card-image img {
    position: absolute;
    left: 20%;
    width: 70%;
    height: 50px;
}

.fold-card-text {
    text-align: left;
    padding-right: 10px;
}

.fold-card-text p {

    font-weight: bold;
    margin-top: 6%;
}

/* Folds */
.folds {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.left-fold {
    padding: 20px;
}

.left-fold-headings h1 {
    font-size: 35px;
}

.left-fold-headings h1 * {
    font-family: inherit;
}

.left-fold-headings h1 span {
    color: orange;
}

.left-fold-actions {
    display: inline;
    margin-bottom: 20px;
}

.left-fold-actions button {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: orange;
    font-weight: 600;
}

.left-fold-actions button:hover {
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.4);
}

.left-fold-highlights {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.left-fold-card {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: transparent;
    object-fit: cover;
    border-radius: 10px;
}

.left-fold-card:hover .slant-card {
    background-color: orange;
    color: white;
}

.left-fold-card .slant-card p {
    margin-block: 70%;
    text-align: center;
    font-weight: 600;
}

.left-fold-card img {
    position: absolute;
    width: 70%;
    height: 70%;
    top: -10%;
    left: 15%;
}

.left-fold-card:hover img {
    transform: scale(1.1);
}

.right-fold {
    padding: 20px;
}

.right-fold-card {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 30px auto;
    border-radius: 10px;
    object-fit: cover;
}

.right-fold-card .slant-card {
    background-color: rgb(30, 30, 30);
}

.right-fold-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
}

.right-fold-card .discount-card {
    position: absolute;
    width: 40%;
    border-radius: 10px;
    top: -10%;
    left: -20%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: orange;
    padding: 10px;
    font-size: 10px;
}

.right-fold-card .discount-card h3 {
    color: black;
    font-weight: 600;
}

.right-fold-card:hover .discount-card,
.right-fold-card:hover .slant-card {
    background-color: orange;
    color: white;
}

.right-fold-card:hover img {
    transform: translate(5%, -5%);
}